/**
 * @name DarkBlueIce
 * @description A Beautiful theme for betterdiscord, powercord and aliucord with Dark blue and ice colors distributed in a harmonic way. 
 * @author Dedsd
 * @version 1.0.7
 * @website https://github.com/Dedsd/DarkBlue-Ice-for-customdiscord
 */

 .scroller-2LSbBU {
	background-color: #39404D;
}

.scroller-1JbKMe {
	background-color: #2A2F3B;
}

.title-3qD0b-.container-1r6BKw.themed-ANHk51 { 
	background-color: #2A2F3B;
}

.form-2fGMdU {
	background-color: #39404d;
}

.markup-2BOw-j.slateTextArea-1Mkdgw.fontSize16Padding-3Wk7zP {
	background-color: #454E63;
}

.attachButton-2WznTc.attachButton-2dnuIu.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
	background-color: #454E63;
}

.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
	background-color: #454E63;
}

.channelTextArea-rNsIhG.channelTextArea-2VhZ6z {
	background-color: #454E63;
}

.headerTop-3vNv-a.headerTopWithCustomStatus-1DHAjX {
	background-color: #25282F;
}

.body-3HBlXn.thin-1ybCId.scrollerBase-289Jih {
	background-color: #25282F;
}

.bodyInnerWrapper-26fQXj {
	background-color: #2a2f3b;
}

.footer-3UKYOU {
	background-color: #2a2f3b;
}

.anchor-3Z-8Bb.anchorUnderlineOnHover-2ESHQB {
	color: #C3D6F9;
}

.button-14-BFJ.enabled-2cQ-u7.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
	background-color: #25282f;
}

.container-3w7J-x {
    background-color: #2a2f3b;
}

.icon-22AiRD {
	color: #C3D6F9;
}

.buttonWrapper-1ZmCpA {
	color: #94c3d9;
}

.contentWrapper-SvZHNd {
	background-color: #2a2f3b;
}

.contentRegionScroller-26nc1e.auto-Ge5KZx.scrollerBase-289Jih {
	background-color: #39404d;
}

.sidebarRegionScroller-3MXcoP.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
	background-color: #2a2f3b;
}

.members-1998pB.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background-color: #2a2f3b;
}

.layout-2DM8Md {
	background-color: #2a2f3b;
}

.membersGroup-v9BXpm.container-2ax-kl {
	background-color: #2a2f3b;
}

.scrollableContainer-2NUZem.webkit-HjD9Er {
	background-color: #454E63;
}

.header-2V-4Sw {
	background-color: #454E63;
}

.scroller-1Bvpku.none-2Eo-qx.scrollerBase-289Jih {
	background-color: #1e262f;
}

.container-3baos1 {
	background-color: #1e262f;
}

.searchBar-6Kv8R2 {
	background-color: #2a2f3b;
}

.searchBar-6Kv8R2
.searchBarComponent-32dTOx{
    background-color: #1e262f;
}

.searchBar-3dMhjb {
	background-color: #1e262f;
}

.header-2V-4Sw {
	background-color: #2a2f3b;
}

.barButtonMain-3K-jeJ.barButtonBase-2uLO1z {
	background-color: #2a2f3b;
}

.barButtonAlt-mYL1lj.barButtonBase-2uLO1z {
	background-color: #2a2f3b;
}

.resultsGroup-r_nuzN {
	background-color: #2a2f3b;
}

.container-3iAQ-0 {
	background-color: #2a2f3b;
}

.channelHeader-3Gd2xq {
	background-color: #2a2f3b;
}

.messageContainer-gbhlwo {
	background-color: #39404d;
}

.header-2-Imhb.header-ykumBX {
	background-color: #1e262f;
}

.messagesPopout-24nkyi.scroller-2UmRce.thin-1ybCId.scrollerBase-289Jih {
	background-color: #2a2f3b;
}

.header-ykumBX {
	background-color: #1e262f;
}

.messageGroupCozy-2iY6cT.wrapper-2a6GCs.cozy-3raOZG.zalgo-jN1Ica {
	background-color: #39404d;
}

.messagesPopout-24nkyi.thin-1ybCId.scrollerBase-289Jih {
	background-color: #2a2f3b;
}

.list-wek7hJ.activeThreadsList-3f7l7U.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
	background-color: #2a2f3b;
}

.container-2I9Hud {
	background-color: #39404d;
}

.header-1VS4tm {
	background-color: #1e262f;
}

.toolbar-1t6TWx {
	background-color: #2a2f3b;
}

.theme-dark .option-96V44q:after, .theme-dark .option-96V44q.selected-rZcOL-:after {
	background: none !important;
  }

.scroller-3GIiMh.thin-1ybCId.scrollerBase-289Jih {
	background-color: #2a2f3b;
}
.wrapper-2a6GCs.cozy-3raOZG.zalgo-jN1Ica {
	background-color: #39404d;
}

.searchHeader-2XoQg7 {
	background-color: #1e262f;
}

.theme-dark .children-19S4PO:after {
    background: -webkit-gradient(linear,left top,right top,from(rgba(54,57,63,0)),to(var(--background-primary))): !important;
    background: linear-gradient(90deg,rgba(54,57,63,0) 0,var(--background-primary)): !important;
}
.message-1Ng5AR {
	background-color: #39404d;
}

.searchResultGroup-1DphGG {
	background-color: #2a2f3b;
}

.colorHeaderPrimary-26Jzh-size16-1P40sf.channelName-1JRO3C {
	color: #454E63;
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.header-1TKi98.headerContainer-3N-yWX {
	background-color: #2a2f3b;
}

.content-1LAB8Z.thin-1ybCId.scrollerBase-289Jih {
	background-color: #1e262f;
}

.flex-1xMQg5.flex-1O1GKY.horizontalReverse-2eTKWD.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.footer-2gL1pp {
	background-color: #1e262f;
}

.inputDefault-_djjkz.input-cIJ7To.input-1GLP_D {
	background-color: #39404d;
	border-color: #C3D6F9;
}

.select-2fjwPw.lookFilled-22uAsw {
	background-color: #39404d;
}

.body-3HBlXn.thin-1ybCId.scrollerBase-289Jih {
	background-color: #2a2f3b;
}

.headerTop-3vNv-a {
	background-color: #1e262f;
}

.role-2irmRk.flex-1O1GKY.alignCenter-1dQNNs {
	background-color: #1e262f;
}

.textarea-2r0oV8.inputDefault-_djjkz.input-cIJ7To.scrollbarGhostHairline-1mSOM1.scrollbar-3dvm_9 {
	background-color: #1e262f;
	color: #C3D6F9;
}

.inputDefault-_djjkz.input-cIJ7To.input-2_SIlA {
	background-color: #1e262f;
}

.topSection-y3p-_D {
	background-color: #1e262f;
}

.nameTagNoCustomStatus-3IWmZC.nameTag-ECvD8P.nameTag-m8r81H {
	background-color: #1e262f;
}

.infoScroller-1Qu30O.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
	background-color: #2a2f3b;
}

.listScroller-3GmIYj.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
	background-color: #1e262f;
}

.message-2qnXI6.cozyMessage-3V1Y8y.mentioned-xhSam7{
	background-image: linear-gradient(rgba(195, 214, 249, 0.1), rgba(195, 214, 249, 0.1));
}

.sprite-2iCowe {
	background-image: url(https://raw.githubusercontent.com/Dedsd/DarkBlue-Ice-for-customdiscord/master/images/e.png);
	filter: grayscale(0) !important;
}

.mention.wrapper-3WhCwL.mention.interactive {
	background-image: linear-gradient(rgba(195, 214, 249, 0.1), rgba(195, 214, 249, 0.1));
}

.inspector-S2gM3e.inspector-3LQtX9 {
	background-color: #1e262f;
}

.scroller-3gAZLs.list-donH_Z.none-2Eo-qx.scrollerBase-289Jih {
	background-color: #1e262f;
}

.userInfo-iCloHO {
	background-color: #1e262f;
}

.accountProfileCard-1XCH88 {
	background-color: #1e262f;
}

.background-1QDuV2 {
	background-color: #2a2f3b;
}

.fieldList-21DyL8 {
	background-color: #2a2f3b;
}

.container-UC8Ug1 {
	background-color: #39404D;
}

.colorStandard-2KCXvj.size16-1P40sf.text-1FOLJS {
	color: #C3D6F9;
}

.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.header-1TKi98.header-3msK0M {
	background-color: #1e262f;
}

.container-1CE3eW {
	background-color: #1e262f;
}

.title-3w8xhj.base-1x0h_U.size24-RIRrxO {
	color: #C3D6F9;
}

.close-hZ94c6.closeButton-9dkb_x.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
	background-color: #39404d;
}

.footerTitle-2CYZch.base-1x0h_U.size20-17Iy80 {
	color: #C3D6F9;
}

.footerButton-ayFTfX.button-38aScr.lookFilled-1Gx00P.colorGrey-2DXtkV.sizeMedium-1AC_Sl.grow-q77ONN {
	background-image: linear-gradient(rgba(195, 214, 249, 0.2), rgba(195, 214, 249, 0.2));
}

.close-hZ94c6.closeButton-_onk93.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
	background-color: #C3D6F9;
	padding: 1px;
}

.contents-18-Yxp {
	color: #C3D6F9;
}

.colorHeaderSecondary-3Sp3Ft.size14-e6ZScH.skip-2o6MGG {
	color: #C3D6F9;
}

.title-LqAd9K.base-1x0h_U.size24-RIRrxO {
	color: #C3D6F9;
}

.flex-1xMQg5.flex-1O1GKY.horizontalReverse-2eTKWD.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyBetween-2tTqYu.alignStretch-DpGPf3.noWrap-3jynv6.footer-2gL1pp {
	background-color: #2A2F3B;
}

.title-Z_XiOC.base-1x0h_U.size24-RIRrxO {
	color: #C3D6F9;
}

.inputDefault-_djjkz.input-cIJ7To {
	background-color: #454E63;
	color: #C3D6F9;
}

.backButton-iA7KIs.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.sizeMin-1mJd1x.grow-q77ONN {
	background-image: linear-gradient(rgba(195, 214, 249, 0.5), rgba(195, 214, 249, 0.5));
}

.close-hZ94c6.closeButton-26zew5.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
	background-image: linear-gradient(rgba(195, 214, 249, 0.5), rgba(195, 214, 249, 0.5));
}

.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.sizeMin-1mJd1x.grow-q77ONN {
	background-image: linear-gradient(rgba(195, 214, 249, 0.5), rgba(195, 214, 249, 0.5));
}

.attachButtonPlus-jWVFah {
	background-image: linear-gradient(rgba(195, 214, 249, 0.5), rgba(195, 214, 249, 0.5));
}

.scroller-tlc3kG.thin-1ybCId.scrollerBase-289Jih {
	background-color: #2a2f3b;
}

.messages-3G3erD {
	background-color: #39404D;
}

.container-3u944p {
	background-color: #1e262f;
}

.scrollbarGhostHairline-1mSOM1.scrollbar-3dvm_9.codeView-1JPDeA.hljs.css {
	background-color: #2a2f3b;
}

.colorHeaderSecondary-3Sp3Ft.size14-e6ZScH.footer-2yA7Ep {
	background-color: #686a6d;
}

.mentioned-xhSam7:before {
	background-color: #C3D6F9;
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.header-1TKi98 {
	background-color: #2a2f3b;
}

.root-217Brm {
	background-color: #2a2f3b;
}

.wrapper-1-Fsb8.header-ywPcAE {
	background-color: #2a2f3b;
}

.flexChild-faoVW3 {
	background-color: #39404D;
}

.wrapper-1-Fsb8.packHeader-NLJ7S5 {
	background-color: #2A2F3B;
}

.input-1Rv96N {
	background-color: #1e262f;
}

.tutorial-3w5I9h {
	background-color: #1e262f;
}

.scroller-3BxosC {
	background-color: #1e262f;
}

.headerTop-3vNv-a.headerTopWithCustomStatus-1DHAjX {
	background-color: #2A2F3B;
}

.markup-2BOw-j code {
	background-color: #1e262f;
}

.replyBar-1YLQ2F {
	background-color: #1e262f;
}

.members-1998pB, .members-1998pB>div {
	background-color: #2A2F3B;
}

.grid-1nZz7S {
	background-color: #2A2F3B;
}

embed {
	background-color: #2a2f3b;
}

.theme-dark .uploadModal-2ifh8j {
	background-color: #2a2f3b;
}

.theme-dark .footer-3mqk7D {
	background-color: #2a2f3b;
}

.theme-dark .footer-2gL1pp {
	background-color: #2a2f3b;
}

.formNotice-2_hHWR.marginBottom40-2vIwTv.cardPrimary-1Hv-to.card-3Qj_Yx {
	background-color: #2a2f3b;
}

.flexChild-faoVW3 {
	background-color: #2a2f3b00;
}

.channelName-1JRO3C {
	background-color: #2a2f3b;
}

.scroller-lynW5A {
	background-color: #2a2f3b;
}

.scroller-3gAZLs.list-17lzo8.thin-1ybCId.scrollerBase-289Jih {
	background-color: #2a2f3b;
}

.scroller-3gAZLs.list-donH_Z.none-2Eo-qx.scrollerBase-289Jih {
	background-color: #1e262f;
}

.wrapper-1-Fsb8.categoryHeader-O1zU94 {
	background-color: #1e262f;
}

.childWrapper-anI2G9 {
	background-color: #39404d;
}

.circleIconButton-1QV--U {
	background-color: #39404D;
}

.scroller-9moviB {
	background-color: #39404d;
}

.container-1r6BKw.themed-ANHk51 {
	background-color: #39404d;
}

.container-24CyRY {
	background-color: #39404d;
}

.scroller-2ZPeAD {
	background-color: #39404d;
}

.card-2qZngs {
	background-color: #2a2f3b;
}

.itemCard-v9viV7 {
	background-color: #2a2f3b;
}

.peopleList-3c4jOR {
	background-color: #39404d;
}

.inspector-S2gM3e {
	background-color: #1e262f;
}

.header-1TKi98 {
	background-color: #2A2F3B;
}

.noResults-ZTbl5V, .scroller-hUf6zQ {
	background-color: #2A2F3B;
}

.footer-1eyGBa {
	background-color: #1e262f;
}

.circleIcon-1-oi1i {
	color: #C3D6F9;
}

[d="M12 10.9C11.39 10.9 10.9 11.39 10.9 12C10.9 12.61 11.39 13.1 12 13.1C12.61 13.1 13.1 12.61 13.1 12C13.1 11.39 12.61 10.9 12 10.9ZM12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM14.19 14.19L6 18L9.81 9.81L18 6L14.19 14.19Z"] {
  color: #C3D6F9;
}

.circleIconButton-1QV--U:hover {
	background-color: #454e63;
}

.colorDefault-2K3EoJ.focused-3afm-j {
	background-color: #454e63;
}

.theme-dark .option-96V44q.selected-rZcOL- {
	background-color: #454e63;
}

.theme-dark .selected-1Tbx07 {
	background-color: #454e63;
}

.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
	background-color: #454e63;
}

.mention.wrapper-3WhCwL.mention.interactive:hover {
	background-color: #C3D6F9;
}

.scroller-1d5FgU {
	background-color: #39404d;
}

.circleIconButton-1QV--U.selected-1JjBPm {
	background-color: #454e63;
}

.homeIcon-FuNwkv {
	color: #C3D6F9;
}

.childWrapper-anI2G9:hover {
	background-color: #454e63;
}

.reactionInner-15NvIl {
	border-color: #C3D6F9;
}

.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
	background-color: #454e63;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
	background-color: #454e63;
}

.popoutInfo-pKbpvG {
	background-color: #1e262f;
}

.formNotice-2_hHWR.cardPrimary-1Hv-to card-3Qj_Yx {
	background-color: #2A2F3B;
}

.container-1pMiXm code {
    background-color: var(--background-primary);
    border: 1px solid var(--background-tertiary);
}

.theme-dark .container-1pMiXm code {
    background-color: var(--background-tertiary);
}

.message-2qnXI6 .wrapper-35wsBm {
    background-color: var(--background-secondary);
}

.cozy-3raOZG.message-2qnXI6.selected-2P5D_Z .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK),
.cozy-3raOZG.message-2qnXI6.selected-2P5D_Z .embedFull-2tM8--,
.cozy-3raOZG.message-2qnXI6.selected-2P5D_Z .container-1pMiXm > div {
    background-color: var(--background-tertiary) !important;
}

.cozy-3raOZG.message-2qnXI6.mentioned-xhSam7 .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) {
    background-color: var(--background-mentioned) !important;
}

.theme-dark .cozy-3raOZG.message-2qnXI6.selected-2P5D_Z .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK),
.theme-dark .cozy-3raOZG.message-2qnXI6.selected-2P5D_Z .embedFull-2tM8--,
.theme-dark .cozy-3raOZG.message-2qnXI6.selected-2P5D_Z .container-1pMiXm > div {
    background-color: var(--background-secondary-alt) !important;
}

.cozy-3raOZG .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) pre code {
    background-color: var(--background-primary);
}

.theme-dark .cozy-3raOZG .messageContent-2qWWxC:not(.repliedTextContent-1R3vnK) pre code {
    background-color: var(--background-tertiary);
}

.cozy-3raOZG .repliedMessage-VokQwo ~ .contents-2mQqc9 > .messageContent-2qWWxC:first-of-type::before {
    background-color: var(--background-secondary-alt);
}

.item-2hkk8m {
	background-color: #C3D6F9;
}

.premiumTabItem-1QTfBr[aria-selected=true] {
    background-color: var(--text-link) !important;
    color: var(--background-secondary) !important;
}

.premiumTabItem-1QTfBr[aria-selected=true] .icon-Zc-uZZ {
	fill: #2A2F3B !important;
}

.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
	background-color: var(--background-primary);
}

.categoryItem-1QIroW.selectedCategoryItem-FHKU_o {
	color: #C3D6F9;
}

.avatar-3uk_u9 {
	color: #C3D6F9;
}

.circleIcon-3EEvbO {
	color: #C3D6F9;
}

.circleIconButton-1XqULR.selected-2jcQaY {
	background-color: #454e63;
}

.colorable-1bkp8v.primaryDark-3mSFDl, .colorable-1bkp8v.primaryDark-3mSFDl .centerIcon-2G6o-T {
	color: #C3D6F9;
}

.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
	color: #C3D6F9;
}

.colorable-1bkp8v.red-33-Lnk, .colorable-1bkp8v.red-33-Lnk .centerIcon-2G6o-T {
	color: #C3D6F9;
}

.contextMenuCaret-3tjo32 {
	background-color: #2a2f3b;
}

.contextMenuNub-3yOOYo.colorable-1bkp8v.white-3GPOIp {
	background-color: #2a2f3b;
}

.status-1WEaea {
	background-color: #454e63;
	color: #C3D6F9;
}



:root {
	--background-mentioned-hover: linear-gradient(rgba(195, 214, 249, 0.1), rgba(195, 214, 249, 0.1));
	--background-mentioned: linear-gradient(rgba(195, 214, 249, 0.1), rgba(195, 214, 249, 0.1));
	--background-border: #C3D6F9;
	--text-link: #C3D6F9;
	--background-message-hover: transparent;
    --background-primary: #39404D !important;
    --background-secondary: #2A2F3B !important;
    --background-secondary-alt: #454e63 !important;
    --background-tertiary: #1e262f !important;
}
