/**
 * @name DarkBlueIce
 * @description A Beautiful theme for betterdiscord, powercord and aliucord with Dark blue and ice colors distributed in a harmonic way. 
 * @author Dedsd
 * @version 1.0.9
 * @website https://github.com/Dedsd/DarkBlue-Ice-for-customdiscord
 */

 .scroller-kQBbkU {
	background-color: #39404D;
}

.scroller-WSmht3 {
	background-color: #2A2F3B;
}

.title-31SJ6t.container-ZMc96U.themed-Hp1KC_ { 
	background-color: #2A2F3B;
}

.form-3gdLxP {
	background-color: #39404d;
}

.markup-eYLPri.slateTextArea-27tjG0.fontSize16Padding-XoMpjI {
	background-color: #454E63;
}

.attachButton-_ACFSu.attachButton-1ijpt9.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
	background-color: #454E63;
}

.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
	background-color: #454E63;
}

.channelTextArea-1FufC0 {
	background-color: #454E63;
}

.headerTop-3GPUSF.headerTopWithCustomStatus-1aNSNd {
	background-color: #25282F;
}

.body-2wLx-E.thin-31rlnD.scrollerBase-_bVAAt {
	background-color: #25282F;
}

.bodyInnerWrapper-2bQs1k {
	background-color: #2a2f3b;
}

.footer-1Dc_h6 {
	background-color: #2a2f3b;
}

.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX {
	color: #C3D6F9;
}

.button-12Fmur.enabled-9OeuTA.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
	background-color: #25282f;
}

.container-1NXEtd {
    background-color: #2a2f3b;
}

.icon-2xnN2Y {
	color: #C3D6F9;
}

.buttonWrapper-3YFQGJ {
	color: #94c3d9;
}

.contentWrapper-3vHNP2 {
	background-color: #2a2f3b;
}

.contentRegionScroller-2_GT_N.auto-2K3UW5.scrollerBase-_bVAAt {
	background-color: #39404d;
}

.sidebarRegionScroller-FXiQOh.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN {
	background-color: #2a2f3b;
}

.members-3WRCEx.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN {
    background-color: #2a2f3b;
}

.layout-1qmrhw {
	background-color: #2a2f3b;
}

.membersGroup-2eiWxl.container-36u7Lw {
	background-color: #2a2f3b;
}

.scrollableContainer-15eg7h.webkit-QgSAqd {
	background-color: #454E63;
}

.header-3OsQeK {
	background-color: #454E63;
}

.scroller-3X7KbA.none-2-_0dP.scrollerBase-_bVAAt {
	background-color: #1e262f;
}

.container-YkUktl {
	background-color: #1e262f;
}

.searchBar-3TnChZ {
	background-color: #2a2f3b;
}

.searchBar-3TnChZ
.searchBarComponent-3N7dCG{
    background-color: #1e262f;
}

.searchBar-zdmu7v {
	background-color: #1e262f;
}

.header-3OsQeK {
	background-color: #2a2f3b;
}

.barButtonMain-2GIx4o.barButtonBase-Sk2mdB {
	background-color: #2a2f3b;
}

.barButtonAlt-TQoCdZ.barButtonBase-Sk2mdB {
	background-color: #2a2f3b;
}

.resultsGroup-1BPR25 {
	background-color: #2a2f3b;
}

.container-iA3Qrz {
	background-color: #2a2f3b;
}

.channelHeader-DFRX8q {
	background-color: #2a2f3b;
}

.messageContainer-3VTXBC {
	background-color: #39404d;
}

.header-145e10.header-1w9Q93 {
	background-color: #1e262f;
}

.messagesPopout-eVzQcI.scroller-MIi2ab.thin-31rlnD.scrollerBase-_bVAAt {
	background-color: #2a2f3b;
}

.header-1w9Q93 {
	background-color: #1e262f;
}

.messageGroupCozy-3v_RqN.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz {
	background-color: #39404d;
}

.messagesPopout-eVzQcI.thin-31rlnD.scrollerBase-_bVAAt {
	background-color: #2a2f3b;
}

.list-1uSVgu.activeThreadsList-c8qlqZ.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN {
	background-color: #2a2f3b;
}

.container-2rzKKA {
	background-color: #39404d;
}

.header-3_zmOb {
	background-color: #1e262f;
}

.toolbar-3_r2xA {
	background-color: #2a2f3b;
}

.theme-dark .option-2KkUJO:after, .theme-dark .option-2KkUJO.selected-rZcOL-:after {
	background: none !important;
  }

.scroller-3iiyhZ.thin-31rlnD.scrollerBase-_bVAAt {
	background-color: #2a2f3b;
}
.wrapper-30-Nkg.cozy-VmLDNB.zalgo-26OfGz {
	background-color: #39404d;
}

.searchHeader-1r_ZSh {
	background-color: #1e262f;
}

.theme-dark .children-3xh0VB:after {
    background: -webkit-gradient(linear,left top,right top,from(rgba(54,57,63,0)),to(var(--background-primary))): !important;
    background: linear-gradient(90deg,rgba(54,57,63,0) 0,var(--background-primary)): !important;
}
.message-24k8JL {
	background-color: #39404d;
}

.searchResultGroup-1lU_-i {
	background-color: #2a2f3b;
}

.colorHeaderPrimary-jN_yGrsize16-rrJ6ag.channelName-3w2Y3c {
	color: #454E63;
}

.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignCenter-14kD11.noWrap-hBpHBz.header-1zd7se.headerContainer-SNQkF2 {
	background-color: #2a2f3b;
}

.content-2hZxGK.thin-31rlnD.scrollerBase-_bVAAt {
	background-color: #1e262f;
}

.flex-2S1XBF.flex-3BkGQD.horizontalReverse-60Katr.horizontalReverse-2QssvL.flex-3BkGQD.directionRowReverse-HZatnx.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz.footer-31IekZ {
	background-color: #1e262f;
}

.inputDefault-3FGxgL.input-2g-os5.input-3eeNNl {
	background-color: #39404d;
	border-color: #C3D6F9;
}

.select-1Ia3hD.lookFilled-1GseHa {
	background-color: #39404d;
}

.body-2wLx-E.thin-31rlnD.scrollerBase-_bVAAt {
	background-color: #2a2f3b;
}

.headerTop-3GPUSF {
	background-color: #1e262f;
}

.role-2TIOKu.flex-3BkGQD.alignCenter-14kD11 {
	background-color: #1e262f;
}

.textarea-_59yqs.inputDefault-3FGxgL.input-2g-os5.scrollbarGhostHairline-2LpzZ9.scrollbar-3vVt8d {
	background-color: #1e262f;
	color: #C3D6F9;
}

.inputDefault-3FGxgL.input-2g-os5.input-2z42oC {
	background-color: #1e262f;
}

.topSection-13QKHs {
	background-color: #1e262f;
}

.nameTagNoCustomStatus-3ocqoK.nameTag-2Nlmsy.nameTag-H6kSJ0 {
	background-color: #1e262f;
}

.infoScroller-1QMpon.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN {
	background-color: #2a2f3b;
}

.listScroller-entkMk.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN {
	background-color: #1e262f;
}

.message-2CShn3.cozyMessage-1DWF9U.mentioned-Tre-dv{
	background-image: linear-gradient(rgba(195, 214, 249, 0.1), rgba(195, 214, 249, 0.1));
}

.sprite-2lxwfc {
	background-image: url(https://raw.githubusercontent.com/Dedsd/DarkBlue-Ice-for-customdiscord/master/images/e.png);
	filter: grayscale(0) !important;
}

.mention.wrapper-1ZcZW-.mention.interactive {
	background-image: linear-gradient(rgba(195, 214, 249, 0.1), rgba(195, 214, 249, 0.1));
}

.inspector-DFKXwB.inspector-2A2Chb {
	background-color: #1e262f;
}

.scroller-2MALzE.list-obNEuP.none-2-_0dP.scrollerBase-_bVAAt {
	background-color: #1e262f;
}

.userInfo-regn9W {
	background-color: #1e262f;
}

.accountProfileCard-lbN7n- {
	background-color: #1e262f;
}

.background-3d_SjE {
	background-color: #2a2f3b;
}

.fieldList-in8WkP {
	background-color: #2a2f3b;
}

.container-x8Y1ix {
	background-color: #39404D;
}

.colorStandard-21JIj7.size16-rrJ6ag.text-PdAsFQ {
	color: #C3D6F9;
}

.flex-2S1XBF.flex-3BkGQD.vertical-3aLnqW.flex-3BkGQD.directionColumn-3pi1nm.justifyStart-2Mwniq.alignCenter-14kD11.noWrap-hBpHBz.header-1zd7se.header-1c1AhF {
	background-color: #1e262f;
}

.container-36u7Lw {
	background-color: #1e262f;
}

.title-1_TkpU.base-21yXnu.size24-17l95E {
	color: #C3D6F9;
}

.close-1mLglB.closeButton-2ygCkj.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
	background-color: #39404d;
}

.footerTitle-3Bslxi.base-21yXnu.size20-9iTTnl {
	color: #C3D6F9;
}

.footerButton-24QPis.button-38aScr.lookFilled-1Gx00P.colorGrey-2DXtkV.sizeMedium-1AC_Sl.grow-q77ONN {
	background-image: linear-gradient(rgba(195, 214, 249, 0.2), rgba(195, 214, 249, 0.2));
}

.close-1mLglB.closeButton-3wDOHY.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
	background-color: #C3D6F9;
	padding: 1px;
}

.contents-18-Yxp {
	color: #C3D6F9;
}

.colorHeaderSecondary-g5teka.size14-3fJ-ot.skip-2hTIXL {
	color: #C3D6F9;
}

.title-OdeD-o.base-21yXnu.size24-17l95E {
	color: #C3D6F9;
}

.flex-2S1XBF.flex-3BkGQD.horizontalReverse-60Katr.horizontalReverse-2QssvL.flex-3BkGQD.directionRowReverse-HZatnx.justifyBetween-wAERV6.alignStretch-Uwowzr.noWrap-hBpHBz.footer-31IekZ {
	background-color: #2A2F3B;
}

.title-2Giw-4.base-21yXnu.size24-17l95E {
	color: #C3D6F9;
}

.inputDefault-3FGxgL.input-2g-os5 {
	background-color: #454E63;
	color: #C3D6F9;
}

.backButton-2Ps-B8.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.sizeMin-1mJd1x.grow-q77ONN {
	background-image: linear-gradient(rgba(195, 214, 249, 0.5), rgba(195, 214, 249, 0.5));
}

.close-1mLglB.closeButton-1diDVp.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
	background-image: linear-gradient(rgba(195, 214, 249, 0.5), rgba(195, 214, 249, 0.5));
}

.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.sizeMin-1mJd1x.grow-q77ONN {
	background-image: linear-gradient(rgba(195, 214, 249, 0.5), rgba(195, 214, 249, 0.5));
}

.attachButtonPlus-3IYelE {
	background-image: linear-gradient(rgba(195, 214, 249, 0.5), rgba(195, 214, 249, 0.5));
}

.scroller-145h9c.thin-31rlnD.scrollerBase-_bVAAt {
	background-color: #2a2f3b;
}

.messages-23can0 {
	background-color: #39404D;
}

.container-nwU-8G {
	background-color: #1e262f;
}

.scrollbarGhostHairline-2LpzZ9.scrollbar-3vVt8d.codeView-12LUIl.hljs.css {
	background-color: #2a2f3b;
}

.colorHeaderSecondary-g5teka.size14-3fJ-ot.footer-GXWBBp {
	background-color: #686a6d;
}

.mentioned-Tre-dv:before {
	background-color: #C3D6F9;
}

.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignCenter-14kD11.noWrap-hBpHBz.header-1zd7se {
	background-color: #2a2f3b;
}

.root-22AK9z {
	background-color: #2a2f3b;
}

.wrapper-1NNaWG.header-1ULbqO {
	background-color: #2a2f3b;
}

.flexChild-3PzYmX {
	background-color: #39404D;
}

.wrapper-1NNaWG.packHeader-w9jpYl {
	background-color: #2A2F3B;
}

.input-2FSSDe {
	background-color: #1e262f;
}

.tutorial-Nb3Zz5 {
	background-color: #1e262f;
}

.scroller-1bVxF5 {
	background-color: #1e262f;
}

.headerTop-3GPUSF.headerTopWithCustomStatus-1aNSNd {
	background-color: #2A2F3B;
}

.markup-eYLPri code {
	background-color: #1e262f;
}

.replyBar-1oi75v {
	background-color: #1e262f;
}

.members-3WRCEx, .members-3WRCEx>div {
	background-color: #2A2F3B;
}

.grid-1aWVsE {
	background-color: #2A2F3B;
}

embed {
	background-color: #2a2f3b;
}

.theme-dark .uploadModal-2ie9O_ {
	background-color: #2a2f3b;
}

.theme-dark .footer-VCsJQY {
	background-color: #2a2f3b;
}

.theme-dark .footer-31IekZ {
	background-color: #2a2f3b;
}

.formNotice-2nS8ey.marginBottom40-fvAlAV.cardPrimary-3qRT__.card-16VQ8C {
	background-color: #2a2f3b;
}

.flexChild-3PzYmX {
	background-color: #2a2f3b00;
}

.channelName-3w2Y3c {
	background-color: #2a2f3b;
}

.scroller-18M1mG {
	background-color: #2a2f3b;
}

.scroller-2MALzE.list-2u03C-.thin-31rlnD.scrollerBase-_bVAAt {
	background-color: #2a2f3b;
}

.scroller-2MALzE.list-obNEuP.none-2-_0dP.scrollerBase-_bVAAt {
	background-color: #1e262f;
}

.wrapper-1NNaWG.categoryHeader-OpJ1Ly {
	background-color: #1e262f;
}

.childWrapper-1j_1ub {
	background-color: #39404d;
}

.circleIconButton-1QV--U {
	background-color: #39404D;
}

.scroller-29cQFV {
	background-color: #39404d;
}

.container-ZMc96U.themed-Hp1KC_ {
	background-color: #39404d;
}

.container-24CyRY {
	background-color: #39404d;
}

.scroller-hE2gWq {
	background-color: #39404d;
}

.card-YtRIQ2 {
	background-color: #2a2f3b;
}

.itemCard-3Etziu {
	background-color: #2a2f3b;
}

.peopleList-2VBrVI {
	background-color: #39404d;
}

.inspector-DFKXwB {
	background-color: #1e262f;
}

.header-1zd7se {
	background-color: #2A2F3B;
}

.noResults-1ceiMB, .scroller-1Kbkqa {
	background-color: #2A2F3B;
}

.footer-C9oLp9 {
	background-color: #1e262f;
}

.circleIcon-1-oi1i {
	color: #C3D6F9;
}

[d="M12 10.9C11.39 10.9 10.9 11.39 10.9 12C10.9 12.61 11.39 13.1 12 13.1C12.61 13.1 13.1 12.61 13.1 12C13.1 11.39 12.61 10.9 12 10.9ZM12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM14.19 14.19L6 18L9.81 9.81L18 6L14.19 14.19Z"] {
  color: #C3D6F9;
}

.circleIconButton-1QV--U:hover {
	background-color: #454e63;
}

.colorDefault-CDqZdO.focused-3qFvc8 {
	background-color: #454e63;
}

.theme-dark .option-2KkUJO.selected-rZcOL- {
	background-color: #454e63;
}

.theme-dark .selected-3H3-RC {
	background-color: #454e63;
}

.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
	background-color: #454e63;
}

.mention.wrapper-1ZcZW-.mention.interactive:hover {
	background-color: #C3D6F9;
}

.scroller-3j5xK2 {
	background-color: #39404d;
}

.circleIconButton-1QV--U.selected-1JjBPm {
	background-color: #454e63;
}

.homeIcon-FuNwkv {
	color: #C3D6F9;
}

.childWrapper-1j_1ub:hover {
	background-color: #454e63;
}

.reactionInner-9eVHJa {
	border-color: #C3D6F9;
}

.wrapper-3kah-n:hover .childWrapper-1j_1ub {
	background-color: #454e63;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub {
	background-color: #454e63;
}

.popoutInfo-pKbpvG {
	background-color: #1e262f;
}

.formNotice-2nS8ey.cardPrimary-3qRT__ card-16VQ8C {
	background-color: #2A2F3B;
}

.container-rr3Ruk code {
    background-color: var(--background-primary);
    border: 1px solid var(--background-tertiary);
}

.theme-dark .container-rr3Ruk code {
    background-color: var(--background-tertiary);
}

.message-2CShn3 .wrapper-1HIH0j {
    background-color: var(--background-secondary);
}

.cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB),
.cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .embedFull-1HGV2S,
.cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .container-rr3Ruk > div {
    background-color: var(--background-tertiary) !important;
}

.cozy-VmLDNB.message-2CShn3.mentioned-Tre-dv .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB) {
    background-color: var(--background-mentioned) !important;
}

.theme-dark .cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB),
.theme-dark .cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .embedFull-1HGV2S,
.theme-dark .cozy-VmLDNB.message-2CShn3.selected-2LX7Jy .container-rr3Ruk > div {
    background-color: var(--background-secondary-alt) !important;
}

.cozy-VmLDNB .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB) pre code {
    background-color: var(--background-primary);
}

.theme-dark .cozy-VmLDNB .messageContent-2t3eCI:not(.repliedTextContent-2hOYMB) pre code {
    background-color: var(--background-tertiary);
}

.cozy-VmLDNB .repliedMessage-3Z6XBG ~ .contents-2MsGLg > .messageContent-2t3eCI:first-of-type::before {
    background-color: var(--background-secondary-alt);
}

.item-2LIpTv {
	background-color: #C3D6F9;
}

.premiumTabItem-1QTfBr[aria-selected=true] {
    background-color: var(--text-link) !important;
    color: var(--background-secondary) !important;
}

.premiumTabItem-1QTfBr[aria-selected=true] .icon-Zc-uZZ {
	fill: #2A2F3B !important;
}

.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
	background-color: var(--background-primary);
}

.categoryItem-1QIroW.selectedCategoryItem-FHKU_o {
	color: #C3D6F9;
}

.avatar-6qzftW {
	color: #C3D6F9;
}

.circleIcon-3TMIJL {
	color: #C3D6F9;
}

.circleIconButton-3lUBQk.selected-2tb4pB {
	background-color: #454e63;
}

.colorable-3rVGna.primaryDark-2UJt1G, .colorable-3rVGna.primaryDark-2UJt1G .centerIcon-JYpTUi {
	color: #C3D6F9;
}

.colorable-3rVGna.white-11auuQ, .colorable-3rVGna.white-11auuQ .centerIcon-JYpTUi {
	color: #C3D6F9;
}

.colorable-3rVGna.red-3T8maV, .colorable-3rVGna.red-3T8maV .centerIcon-JYpTUi {
	color: #C3D6F9;
}

.contextMenuCaret-1swU58 {
	background-color: #2a2f3b;
}

.contextMenuNub-NuTZ_U.colorable-3rVGna.white-11auuQ {
	background-color: #2a2f3b;
}

.status-1ZXjSF {
	background-color: #454e63;
	color: #C3D6F9;
}

.circleIconButton-1VxDrg {
	color: #C3D6F9;
}

.circleIconButton-1VxDrg:hover {
	background-color: #454e63;
}

.circleIconButton-1VxDrg.selected-2r1Hvo {
	background-color: #454e63;
}



:root {
	--background-mentioned-hover: linear-gradient(rgba(195, 214, 249, 0.1), rgba(195, 214, 249, 0.1));
	--background-mentioned: linear-gradient(rgba(195, 214, 249, 0.1), rgba(195, 214, 249, 0.1));
	--background-border: #C3D6F9;
	--text-link: #C3D6F9;
	--background-message-hover: transparent;
    --background-primary: #39404D !important;
    --background-secondary: #2A2F3B !important;
    --background-secondary-alt: #454e63 !important;
    --background-tertiary: #1e262f !important;
}
